html {
  font-size: 2vw;
  background: #536574;
}
body {
  align-items: center;
  animation: gradient-animation 120s linear infinite;
  background: linear-gradient(60deg, #c2e59c , #64b3f4);
  background-size: 200% 200%;
  color: #536574;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.contact {
  align-items: flex-start;
  flex-direction: column;
}
ul.social li {
  height: .8em;
  width: .8em;
}
ul.social li:nth-child(2) {
  flex-grow: 1;
  margin-left: .4em;
}
ul.social li:last-child {
  flex-grow: 0;
}
img {
  height: .8em;
  width: .8em;
}
a {
  color: #536574;
  transition: all 150ms ease-in-out;
}
a:hover {
  color: #4F8EC1;
}
.twitter{
  background-image: url("images/twitter.svg");
  display: block;
  height: 100%;
}
.twitter:hover {
  background-image: url("images/twitter-hover.svg");
}
.github{
  background-image: url("images/github.svg");
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}
.github:hover {
  background-image: url("images/github-hover.svg");
}
.more{
  animation: pointer 3s ease-in-out infinite;
  background-image: url("images/fingerright.svg");
  display: block;
  height: 100%;
}
.more:hover {
  background-image: url("images/fingerright-hover.svg");
}
h1 {
  color: #475969;
  font-family: 'Playfair Display', serif;
  font-size: 3.5em;
  line-height: 1.4;
  margin: 0;
}
em {
  font-family: 'Playfair Display', serif;
}
.card {
  background-color: #fff;
  border-radius: 0.125em;
  box-shadow: 0 0 0.125em rgba(90, 103, 114, 0.1);
  /*box-shadow: 0 0 0.125em rgba(45, 130, 200, 0.2);*/
  display: inline-flex;
  flex-direction: column;
  font-size: 1.2em;
  padding: 2.2em 4.4em;
}
h1::selection, span::selection, a::selection {
  background: #c2e59c;
}
.head {
  margin-bottom: 2em;
}
.subhead {
  color: #6D7F8F;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}
.contact, .social {
  margin-top: 1em;
}

@keyframes gradient-animation {
  0%{background-position:0 50%}
  50%{background-position:100% 50%}
  100%{background-position:0 50%}
}
@keyframes pointer {
  10%{transform: translateX(.16em)}
  15%{transform: translateX(0)}
  20%{transform: translateX(.2em)}
  /*25%{transform:translateX(-.08em)}*/
  25%{transform: translateX(0)}
}
