:root {
  --bgColor: DarkSlateBlue;
  --textColor: GhostWhite;
  --opacity: 1;
}

body {
  align-items: center;
  background-color: var(--bgColor);
  display: flex;
  font-size: 2em;
  height: 100%;
  justify-content: center;
  transition: background-color 600ms ease-in-out;
  width: 100%;
}

.splash {
  color: var(--textColor);
  font-family: monospace;
  transition: opacity 1s ease-in-out;
  opacity: var(--opacity);
}
