:root {
  --bgColor: DarkSlateBlue;
  --textColor: GhostWhite;
  --visibility: visible;
}

body {
  align-items: center;
  background-color: var(--bgColor);
  display: flex;
  font-size: 2em;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.splash {
  color: var(--textColor);
  font-family: monospace;
  visibility: var(--visibility);
}
